<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Criar conta de usuário</h1>
	<section>
		<% if(erros) { %>
			<ul>
				<% for(let i=0; i < erros.length; i++) { %>
					<li>
						<%=erros[i].msg%>
					</li>
				<% } %>
			</ul>
		<% } %>
	</section>
    <form action="/signup" method="post">
		<input type="email" name="email" placeholder="Digite o seu email" value="<%= data != null ? data.email : '' %>" required>
		<input type="password" name="senha" placeholder="Digite sua senha" minlength="6" maxlength="20" required>
        <input type="password" name="senhaC" placeholder="Confirme sua senha">
		<input type="submit" value="enviar">
	</form>
</body>
</html>