<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarsila</title>
    <link rel="stylesheet" href="css/tarsila.css">
</head>
<body>
    <h1>Obras de Tarsila</h1>
    <% for(let i=0; i < paintings.length; i++) { %>
        <img src="<%= paintings[i].urlimagem%>" alt="<%=paintings[i].nome%>">
        <h4><%=paintings[i].nome%></h4>
        <h5><%=paintings[i].artista%></h5>
        <hr>
    <% } %>
</body>
</html>